<!-- BETA VERSION Ribbon -->
<div class="fixed">
   <div class="ribbon"><span>Beta Version</span></div>
</div>
<!-- HEADER: Navigation & Main Content Container -->
<mat-sidenav-container class="sidenav-container">
  <!-- mobile NAVIGATION -->
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false"
      position="end"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false"
      [ngClass]="{'hidden': !(isHandset$ | async)}">
    <mat-toolbar><span class="spacer"></span>
    <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.toggle()"
      *ngIf="isHandset$ | async">
      <mat-icon aria-label="Side nav toggle icon">close</mat-icon>
    </button>
    </mat-toolbar>
    <button class="homeButton" mat-button routerLink="/home" routerLinkActive="active">
    </button>
    <mat-list class="mobile-nav-items">
      <mat-list-item><button mat-button routerLink="/calendar" routerLinkActive="active">Eventkalender</button></mat-list-item>
      <mat-list-item><button mat-button routerLink="/wiki" routerLinkActive="active">Kulturkanäle</button></mat-list-item>
      <mat-list-item><button mat-button routerLink="/about" routerLinkActive="active">About</button></mat-list-item>
      <mat-list-item><button mat-button routerLink="/contact" routerLinkActive="active">Kontakt</button></mat-list-item>
      <mat-list-item><button mat-button class="homeButton" routerLink="/home" routerLinkActive="active"><icon-logo-only></icon-logo-only></button></mat-list-item>





    </mat-list>
  </mat-sidenav>
  <!-- main NAVIGATION -->
  <mat-sidenav-content>
    <mat-toolbar>
      <button mat-button class="homeButton" routerLink="/home" routerLinkActive="active"><icon-logo-only></icon-logo-only></button>
      <div class="nav-items"
      [ngClass]="{'hidden': (isHandset$ | async)}">
        <button mat-button routerLink="/calendar" routerLinkActive="active">Eventkalender</button>
        <button mat-button routerLink="/wiki" routerLinkActive="active">Kulturkanäle</button>
        <button mat-button routerLink="/about" routerLinkActive="active">About</button>
        <button mat-button routerLink="/contact" routerLinkActive="active">Kontakt</button>
      </div>
      <span class="spacer"></span>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <!-- CONTENT -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
