.filter {
    padding-left: 30px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: #efefef;
}

h2 {
    margin: 30px;
}

mat-form-field {
    margin: 20px;
}

.filterButton {
    background-color:black;
    color: white;
}

.calendar-container {
    margin:30px;
}

.date {
    margin: 30px;
}