img {
  /* width: 100vw;
  height: 100vh; */
  object-fit: cover;
  object-position: 50% 50%;
}

.mat-card-header {
    margin-bottom: 8px;
}

.event-avatar {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
}

mat-card {
    /* max-width: 1200px; */
    margin: 0 auto;
    overflow: hidden;
}

.event-image {
  margin-top: -18px !important;
  margin-right: 0;
  margin-bottom: -18px;
  margin-left: -18px;
  max-width: 900px;
  flex-shrink: 0;
  object-fit: cover;
}

.mat-card-actions {
    /* margin: 8px 0 0 16px; */
    padding: 0;
}

.event-date, .event-time {
  /* padding: 5px; */
  /* text-align: right; */
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.mat-flat-button {
  min-width: initial;
  margin: 0 0 0 auto;
}

a.mat-flat-button.mat-button-base {
    display: flex;
    align-items: center;
}

.mat-button-wrapper {
    margin: 0 auto !important;
}

a.show-more {
    cursor: pointer;
}

.show-more mat-icon {
    color: red;
}

/* button.show-more {
  color: red;
  min-width: 160px;
  margin: 0 auto;
}
button:hover{
    background-color: white;
    color: red;
    border-color: red;
}

.mat-card-content {
  margin: 0;
}

.event-date, .event-time {
  padding: 5px;
  text-align: right;
  white-space: nowrap;
}

.mat-card-header-text {
 margin-left: 0 !important;
} */

/* .mat-card-avatar {
    height: 80px;
    width: 80px;
    margin-bottom: 16px;
}

.event-information {
    margin-left: 16px;
}

.event-description{
  padding-bottom: 15px;
  max-width: 600px;
}

.event-category {
  padding: 15px;
}

.mat-card-image {
  background-image: url('/../../../../assets/img/cs-sofaherz-dunkel.png');
  background-size: cover;
  background-position: center;
  margin-top: -18px;
  margin-bottom: -18px;
  margin-left: -18px;
  margin-right: 0;
} */

/* .event-img {
    width:600px;
    margin:30px;
} */


/* .redirect-stream {
    background-color: black;
    color: white;
}*/

section.event-description {
    margin-bottom: 32px;
}

section.event-attributes, section.event-time {
    text-align: center;
    margin: 16px auto;
}

button.attribute-true {
    color: black;
    background-color: initial;
    border: initial;
}

button.attribute-false, a.attribute-false, a:hover .attribute-false {
    color: lightgray;
    background-color: initial;
    border: initial;
}

.attribute-false mat-icon {
  font-size: 20px;
}

.attribute-true mat-icon {
  font-size: 20px;
}

button.attribute-true, a.attribute-true,
button.attribute-false, a.attribute-false {
    padding: 8px;
}
