.slid-pic {
    width: 100%;
    height: 2000px;
    background-image: url('../assets/Wohnzimmerkonzert.png');
}

.img-container {
    background-color:red;
    /*background-image: url('../assets/Wohnzimmerkonzert.png');*/
    display:block;
    width: 100%;
    height: 300px;
}

.tool-container {
    text-align: center;
    width: 100%;
}

.add-button {
    background-color:black;
    color: white;
    width: 200px;
    margin-right: 20px;

}