<!--The content below is only a placeholder and can be replaced.-->

<header></header>
<!-- <mat-toolbar>
  <button class="homeButton" mat-button routerLink="/home" routerLinkActive="active"><img class="home" src="../assets/homefav.png"/></button>
  <div class="tool-container">
    <button mat-button routerLink="/calendar" routerLinkActive="active">Eventkalender</button>
    <button mat-button routerLink="/wiki" routerLinkActive="active">Kulturkanäle</button>
    <button mat-button routerLink="/about" routerLinkActive="active">About</button>
    <button mat-button routerLink="/contact" routerLinkActive="active">Kontakt</button>
  </div>
  <button mat-button class="add-button" routerLink="/add-event" routerLinkActive="active">Event hinzufügen</button>
</mat-toolbar> -->

<!-- <div class="fixed">
   <div class="ribbon"><span>Beta Version</span></div>
</div> -->

  <!-- <router-outlet></router-outlet> -->

<div></div>
<mat-toolbar>
  <div class="tool-container">
    <a href="../assets/Impressum.pdf" download><button mat-button>Impressum</button></a>
    <a href="../assets/Datenschutz.pdf" download><button mat-button routerLink="/datenschutz" routerLinkActive="active">Datenschutz</button></a>
  </div>
</mat-toolbar>
