.card {
    margin:30px;
    padding:30px;
}

mat-form-field {
    margin-right: 20px;
}

.full-width {
    width: 520px;
}

.half-width {
    width: 250px;
}

.min-width {
    width: 95px;
}

.special-width {
    width:290px;
}

.submitButton {
    background-color: black;
    color: white;
    float:right;
    margin-right: 60px;
}

mat-icon {
    margin: -15px;
}
