<h2>Event hinzufügen</h2>
<mat-card class="card">

    <div class="example-container">
    <mat-form-field class="full-width">
      <mat-label>Titel</mat-label>
      <input [(ngModel)]="event.name" matInput>
    </mat-form-field>
    <br>
    <mat-form-field class="half-width">
      <mat-label>Kategorie</mat-label>
      <mat-select [formControl]="categoryControl" [(ngModel)]="event.category">
        <mat-option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <!--mat-form-field class="half-width">
        <mat-label>Sub-Kategorie</mat-label>
        <mat-select [disabled]="!event.category" [(ngModel)]="event.subcategory">
            <div *ngFor="let subcategory of subcategories" >
                <mat-option *ngIf="subcategory.parent == event.category" value="{{subcategory.id}}">{{subcategory.name}}</mat-option>
            </div>
          </mat-select>
      </mat-form-field-->
    <br>

    <mat-form-field class="special-width">
        <mat-label>Datum wählen</mat-label>
        <input (keyup)="setDate($event)" matInput [matDatepicker]="picker" [(ngModel)]="date">
        <mat-datepicker-toggle matSuffix [for]="picker" #picker ngDefaultControl (selectedChanged)="onChange($event)"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="min-width">
        <mat-label>Start</mat-label>
        <input (keyup)="setStartTime($event)" [(ngModel)]="startTime" [ngxTimepicker]="pickerStart" matInput>
        <ngx-material-timepicker (keyup)="setStartTime($event)" #pickerStart></ngx-material-timepicker>
    </mat-form-field>
    <mat-form-field class="min-width">
        <mat-label>Ende</mat-label>
        <input (keyup)="setEndTime($event)" [(ngModel)]="endTime" (change)="setEndTime($event)" (selectedChanged)="onChange($event)" [ngxTimepicker]="pickerEnd" matInput>
        <ngx-material-timepicker #pickerEnd></ngx-material-timepicker>
    </mat-form-field>
    <br>
    <mat-form-field class="full-width">
        <mat-label>Veranstalter:in</mat-label>
        <input [(ngModel)]="organizer.name" matInput>
    </mat-form-field>
    <br/>
    <!--mat-form-field class="full-width">
        <mat-label>Location wenn gerade keine Kriesenzeit ist</mat-label>
        <input (keyup)="setLocation($event)" matInput>
    </mat-form-field-->
    <br/>
    <!--mat-form-field class="full-width">
        <mat-label >Beschreibung kurz</mat-label>
        <textarea (keyup)="setDescriptionShort($event)" matInput></textarea>
      </mat-form-field-->
    <br/>
    <mat-form-field class="full-width">
      <mat-label>Beschreibung</mat-label>
      <textarea (keyup)="setDescription($event)" matInput></textarea>
    </mat-form-field>
    <br/>
    <mat-form-field class="full-width">
          <mat-label>Stream-Link (inkl. http://)</mat-label>
          <input (keyup)="setLink($event)" matInput>
    </mat-form-field>
    <br/>
    <br/>

    <div *ngIf="error" class="error">
      Bitte fülle alle Angaben aus.
    </div>

  <button mat-button class="submitButton" (click)="submit()">Eintrag anlegen</button>

  </div>

</mat-card>
