<h2>Event hinzufügen</h2>
<mat-card class="card">
    
    <div class="example-container">
    <mat-form-field class="full-width">
      <mat-label>Titel</mat-label>
      <input (keyup)="setTitle($event)" matInput>
    </mat-form-field>
    <br>
    <mat-form-field class="half-width">
      <mat-label>Kategorie</mat-label>
      <mat-select [formControl]="categoryControl">
        <mat-option value="option">Sport</mat-option>
        <mat-option value="option">Musik</mat-option>
        <mat-option value="option">Rundgang</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="half-width">
        <mat-label>Sub-Kategorie</mat-label>
        <mat-select [disabled]="!category">
          <mat-option value="option">Sport</mat-option>
          <mat-option value="option">Musik</mat-option>
          <mat-option value="option">Rundgang</mat-option>
        </mat-select>
      </mat-form-field>
    <br>

    <mat-form-field class="special-width">
        <mat-label>Datum wählen</mat-label>
        <input (keyup)="setDate($event)" matInput [matDatepicker]="picker" [(ngModel)]="event.date">
        <mat-datepicker-toggle matSuffix [for]="picker" #picker ngDefaultControl (selectedChanged)="onChange($event)"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="min-width">
        <mat-label>Start</mat-label>
        <input (keyup)="setStartTime($event)" [(ngModel)]="event.startTime" [ngxTimepicker]="pickerStart" matInput>
        <ngx-material-timepicker (keyup)="setStartTime($event)" #pickerStart></ngx-material-timepicker>
    </mat-form-field>
    <mat-form-field class="min-width">
        <mat-label>Ende</mat-label>
        <input (keyup)="setEndTime($event)" [(ngModel)]="event.endTime" (change)="setEndTime($event)" (selectedChanged)="onChange($event)" [ngxTimepicker]="pickerEnd" matInput>
        <ngx-material-timepicker #pickerEnd></ngx-material-timepicker>
    </mat-form-field>
    <br>
    <mat-form-field class="full-width">
        <mat-label>Künstler*In</mat-label>
        <input (keyup)="setHostName($event)" matInput>
    </mat-form-field>
    <br/>
    <mat-form-field class="full-width">
        <mat-label>Location wenn gerade keine Kriesenzeit ist</mat-label>
        <input (keyup)="setLocation($event)" matInput>
    </mat-form-field>
    <br/>
    <mat-form-field class="full-width">
        <mat-label >Beschreibung kurz</mat-label>
        <textarea (keyup)="setDescriptionShort($event)" matInput></textarea>
      </mat-form-field>
    <br/>
    <mat-form-field class="full-width">
      <mat-label>Beschreibung lang</mat-label>
      <textarea (keyup)="setDescription($event)" matInput></textarea>
    </mat-form-field>
    <br/>
    <mat-form-field class="full-width">
          <mat-label>Bild-Url</mat-label>
          <input (keyup)="setImageUrl($event)" matInput>
    </mat-form-field>
    <br/>
    <br/>
    <mat-form-field class="half-width">
        <mat-label>Zugriffs-Passwort</mat-label>
        <input (keyup)="setPassword($event)" matInput>
  </mat-form-field>
  <mat-icon matTooltip="Um den Eintrag später noch einmal bearbeiten zu können, wählen Sie hier bitte ein Passwort.">info</mat-icon> 
  

  <button mat-button class="submitButton" (click)="submit()">Eintrag anlegen</button>
    
  </div>

</mat-card>
