<!-- <cs-current-events [events]="store.events$ | async | pastStillAvailable:now" currentType="nachsehen"></cs-current-events>
<cs-current-events [events]="store.events$ | async | liveNow:now" currentType="jetzt live"></cs-current-events>
<cs-current-events [events]="store.events$ | async | upcoming:now" currentType="upcoming"></cs-current-events> -->
  <section fxLayout="column" fxLayoutAlign=" center">
    <img mat-card-image src="../../../culturestreams/assets/svg/logo-culturestreams.svg">
    <h1 class="hidden">Culture Streams - Die Veranstaltungsdatenbank für Kultur-Streaming</h1>
    <p class="explanation-text">
      culturestreams.org bringt Kunst und Künstler:innen live in eure Wohnzimmer!
      Theater und Oper, Ballett und Streetdance, Orchester, Band und Musiker, Poetry-Slam und Lesung –
      die Plattform versammelt Livestream-Events an einem Ort.
    </p>
  </section>

  <section class="events" fxLayout="column" fxLayoutAlign=" center" >
    <button mat-button routerLink="/calendar" routerLinkActive="active">zum Veranstaltungskalender</button>
  </section>

  <section class="home-footnote" fxLayout="column" fxLayoutAlign=" center" >
    <div class="display-text">#wirvsvirushack</div>
    <p class="explanation-text">
      Dieses Projekt ist beim Hackaton
      <a href="https://wirvsvirushackathon.org/" target="_blank" rel="noopener">#WirVsVirus</a>
      entstanden!
    </p>
    <img class="home-banner-img" src="../../../culturestreams/assets/img/banner-wirvsvirus-reg.jpg"/>
  </section>
