<main class="content" fxLayout="column" fxLayoutAlign=" center">
  <section fxLayout="column" fxLayoutAlign=" center">
    <icon-logo></icon-logo>
    <h1 class="hidden">Culture Streams - Die Veranstaltungsdatenbank für Kulturstreaming</h1>
    <p class="explanation-text">
      culturestreams.org bringt Kunst und Künstler:innen live in eure Wohnzimmer!
      Theater und Oper, Ballett und Streetdance, Orchester, Band und Musiker, Poetry-Slam und Lesung –
      die Plattform versammelt Livestream-Events an einem Ort.
    </p>
  </section>

  <section class="events" fxLayout="column" fxLayoutAlign=" center" >
    <button mat-button routerLink="/calendar" routerLinkActive="active">zum Veranstaltungskalender</button>
  </section>

  <section class="home-footnote" fxLayout="column" fxLayoutAlign=" center" >
    <div class="display-text">#wirvsvirushack</div>
    <p class="explanation-text">
      Dieses Projekt ist beim Hackaton
      <a href="https://wirvsvirushackathon.org/" target="_blank" rel="noopener">#WirVsVirus</a>
      entstanden!
    </p>
    <img class="home-banner-img" src="../../../assets/img/banner-wirvsvirus-reg.jpg"/>
  </section>
</main>
