
<div class="container">
    <div class="headlinecul">Culture Streams</div>
    <img class="logo-image" src="../../../assets/logo.jpg"/>
    <br/>
    <h1>Stream-Veranstaltungs-Datenbank</h1>
    <div class="explanation-text">
        culturestreams.org bringt Kunst und Künstler:innen live in eure Wohnzimmer! Theater und Oper, Ballett und Streetdance, Orchester, Band und Musiker, Poetry-Slam und Lesung – die Plattform versammelt alle Livestream-Events an einem Ort. Die Auswahl ist riesig!
        
    </div>
    <button mat-button routerLink="/calendar" routerLinkActive="active">zum Veranstaltungskalender</button>
    
</div>
    <!--div class="container">
        <app-category-preview [category]="'Sport'" [image]="'../../../assets/Wohnzimmerkonzert.png'"></app-category-preview>
        <app-category-preview [category]="'Musik'" [image]="'../../../assets/Wohnzimmerkonzert.png'"></app-category-preview>
        <app-category-preview [category]="'Rundgang'" [image]="'../../../assets/Wohnzimmerkonzert.png'"></app-category-preview>
    </div-->



 