<div class="container">
    <h2>Hallo Kulturliebhabende!</h2>

    <div class="information">
        <p>Leere Theater, Konzertsäle, Buchhandlungen, Kneipen und Clubs. 
        Die Coronavirus-Pandemie stellt die gesamte Kulturbranche auf den Kopf. Durch die Schließungen kultureller Stätten und das Absagen aller Veranstaltungen ist die Teilhabe an Kultur plötzlich auf ein Minimum reduziert.
        </p>
        <p>Das trifft Kulturschaffende und Kulturliebhaber hart. Künstler:innen stehen vor der Herausforderung, ihre Existenz zu sichern. Gleichzeitig haben mehr Menschen mehr Zeit für Medien und Kultur. 
        </p>
        <p>Künstler:innen aller Genres haben schnell Antworten auf die Krise gefunden: Sie streamen live! So ist in kürzester Zeit ein vielfältiges Angebot an Livestream-Events entstanden. Doch es keine zentrale Livestream-Datenbank für Coronavirus-Ersatz-Veranstaltungen.
        </p>
        <img src="../../../assets/couch.png" class="couch-image"/>
        <p class="solution">Wir haben eine Lösung: culturestreams.org!
        </p>
        <p>culturestreams.org bringt Kunst und Künstler:innen live in eure Wohnzimmer! Theater und Oper, Ballett und Streetdance, Orchester, Band und Musiker, Poetry-Slam und Lesung – die Plattform versammelt alle Livestream-Events an einem Ort. Die Auswahl ist riesig!
        </p>
        <p>Zeit auf dem Sofa wird zur Zeit für Kultur. Bei uns entdeckt  jeder seine Lieblingskünstler:innen und -Veranstaltungen. Gleichzeitig finden performende Künstler:innen während der Corona-Krise aber auch darüber hinaus ihr Publikum.
        </p>
        <p>culturestreams.org leistet einen Beitrag, um kulturelles Schaffen in der Corona-Krise am Leben zu erhalten.
        </p>
        <p>Eure Lieblings-Livestream-Events sind noch nicht da? Kein Problem: Ihr könnt Künstler:innen und Veranstalter unterstützen, indem ihr die Livestream-Events, von denen ihr wisst, hier im Kalender eintragt. 
        </p>
        <p class="solution">The show must go on!</p>
    
    </div>
</div>