.event-img {
    width:600px;
    margin:30px;
}

.event-description-container {
    padding: 30px;
}

.event-property {
    display:inline-block;
    margin-right: 20px;
    font-weight: bold;
    font-weight: 1000;
}

.property-item {
    margin:30px;
}

.redirect-stream {
    background-color: black;
    color: white;
}

.container {
    text-align: center;
}
