<main class="content" fxLayout="column">
  <button mat-button fxLayoutAlign="start start" routerLink="/calendar" routerLinkActive="active">zurück</button>
  <mat-card class="example-card">
    <mat-card-header fxLayout="column" fxLayoutAlign="center stretch">
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title><h1 *ngIf="event" class="event-title md-display-1" itemprop="name">{{event.name}}</h1></mat-card-title>
      <mat-card-subtitle *ngIf="event" itemprop="organizer">von {{organizerName}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <section fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center stretch">
        <p *ngIf="event" class="event-date"><mat-icon>date_range</mat-icon> <span itemprop="startDate">{{event.start | date:'fullDate':'de'}}</span> </p>
        <p *ngIf="event" class="event-time"><mat-icon>access_time</mat-icon> <span itemprop="doorTime">{{event.start | date:'shortTime':'de'}}</span> bis {{event.end | date:'shortTime':'de'}} Uhr </p>
      </section>
      <section fxLayout="row" fxLayout.lt-md="column">
        <a *ngIf="event" fxFlex  href="{{event.link}}" target="_blank" rel="noopener" mat-flat-button>STREAM<mat-icon>play_arrow</mat-icon></a>
        <span itemprop="location" class="hidden">{{event.link}}</span>
      </section>
    </mat-card-actions>
      <mat-card-content fxLayout="row" fxLayout.lt-md="column">
        <section>
          <p *ngIf="event" class="event-description" itemprop="description">{{event.description}}</p>
          <mat-divider [inset]="true"></mat-divider>
          <p *ngIf="category" class="event-category" itemprop="subjectOf">{{category.name}}</p>
        </section>
        <section>
          <img mat-card-image src="../../../../assets/sofaherz.jpeg" alt="{{event.name}}">
        </section>
      </mat-card-content>
  </mat-card>
</main>

<!-- <mat-label class="event-property">Location in Nicht-Kriesen-Zeiten:</mat-label>
<mat-label class="event-attribute">{{event.organizer.location}}</mat-label>
<mat-label class="event-attribute" *ngIf="event">{{event.end}}</mat-label> -->
