<h2>Event hinzufügen</h2>
<mat-card class="card">
  <form [formGroup]="eventForm" (ngSubmit)="onSubmit(eventForm)">
    <div>
      <mat-form-field class="full-width">
        <mat-label>Titel *</mat-label>
        <input formControlName="name" matInput>
        <mat-icon matTooltip="Wie heißt Deine Veranstaltung? (Dieses Feld muss ausgefühlt sein.)" matSuffix>help</mat-icon>
      </mat-form-field>
      <button *ngIf="!addSubtitle" mat-button class="add-button" (click)="addSubtitle = !addSubtitle">
        <mat-icon inline=true>add</mat-icon> Untertitel
      </button>
    </div>
    <div>
      <mat-form-field *ngIf="addSubtitle" class="full-width">
        <mat-label>Untertitel</mat-label>
        <input formControlName="subtitle" matInput>
        <mat-icon matTooltip="Wenn Du möchtest, kannst Du einen Untertitel hinzufügen." matSuffix>help</mat-icon>
      </mat-form-field>
      <button *ngIf="addSubtitle" mat-button color="primary" class="add-button" (click)="addSubtitle = !addSubtitle">
        <mat-icon inline=true>clear</mat-icon> entfernen
      </button>
    </div>
    <div>
      <mat-form-field class="full-width">
        <mat-label>Link zum Stream *</mat-label>
        <input formControlName="streamlink" matInput>
        <mat-icon matTooltip="Dieser Link führt im besten Fall direkt zum Stream. (Dieses Feld muss ausgefühlt sein.)" matSuffix>help</mat-icon>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="full-width">
        <mat-label>Kategorie *</mat-label>
        <mat-select formControlName="category">
          <mat-option *ngFor="let category of store.categories$ | async" value="{{ category.id }}">{{ category.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>




    <br/>

    <mat-form-field class="half-width">
        <mat-label>Start Datum *</mat-label>
        <!-- removed vor prod (keyup)="setDate($event)"  -->
        <input matInput formControlName="startDate" [matDatepicker]="pickerStartTime">
        <!-- removed vor prod (selectedChanged)="onChange($event)""  -->
        <mat-datepicker-toggle matSuffix [for]="pickerStartTime" #pickerStartTime ngDefaultControl></mat-datepicker-toggle>
        <mat-datepicker #pickerStartTime></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="half-width">
        <mat-label>Start Uhrzeit *</mat-label>
        <!-- removed vor prod (keyup)="setStartTime($event)"  -->
        <!-- <input formControlName="startTime" [ngxTimepicker]="pickerStart" matInput> -->
        <input formControlName="startTime" matInput type="time">
        <!-- removed vor prod (keyup)="setStartTime($event)"  -->
        <!-- <ngx-material-timepicker #pickerStart></ngx-material-timepicker> -->
    </mat-form-field>
  <br/>
  <mat-form-field class="half-width">
    <mat-label>Ende Datum *</mat-label>
    <!-- removed vor prod (keyup)="setDate($event)"  -->
    <input formControlName="endDate" matInput [matDatepicker]="pickerEndDate">
    <!-- removed vor prod (selectedChanged)="onChange($event)"  -->
    <mat-datepicker-toggle matSuffix [for]="pickerEndDate" #pickerEndDate ngDefaultControl></mat-datepicker-toggle>
    <mat-datepicker #pickerEndDate></mat-datepicker>
</mat-form-field>
    <mat-form-field class="half-width">
        <mat-label>Ende Uhrzeit *</mat-label>
        <input formControlName="endTime" matInput type="time">
        <!-- removed vor prod (keyup)="setEndTime($event)" (selectedChanged)="onChange($event)" -->
        <!-- <input formControlName="endTime" [ngxTimepicker]="pickerEnd" matInput>
        <ngx-material-timepicker #pickerEnd></ngx-material-timepicker> -->
    </mat-form-field>
<br/>

    <!-- <div class="half-width inline-checkbox">
      <mat-checkbox [(ngModel)]="event.periodic" [ngModelOptions]="{standalone: true}" class="label">Wiederkehrend?</mat-checkbox>
      <mat-icon class="label-tooltip" matTooltip="Wiederholt sich deine Veranstaltung regelmäßig?" matSuffix>help</mat-icon>
    </div> -->

    <br>

    <div class="half-width float inline-checkbox">
      <mat-checkbox [(ngModel)]="event.availableLiveOnly" [ngModelOptions]="{standalone: true}" class="label" >nur live</mat-checkbox>
      <mat-icon class="label-tooltip" matTooltip="Ausgewählt: Dein Event ist nur live verfügbar und nicht nachträglich abrufbar. Nicht ausgewählt: Deinen Event kann man auch später noch streamen. (Dieses Feld muss ausgefühlt sein.)" matSuffix>help</mat-icon>
    </div>

    <div class="half-width inline-checkbox " >
      <mat-checkbox [(ngModel)]="event.freeOfCharge" [ngModelOptions]="{standalone: true}" class="label">kostenlos</mat-checkbox>
      <mat-icon class="label-tooltip" matTooltip="Ist dein Event kostenlos oder verlangst du eine Gebühr? (Dieses Feld muss ausgefühlt sein.)" matSuffix>help</mat-icon>
    </div>

  <br/>


  <br/>
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Beschreibung *</mat-label>
    <textarea formControlName="description" #txtarea matInput rows="6" cols="100" [maxLength]="1300" [placeholder]="label"></textarea>
    <mat-hint align="start">max. 1300 Zeichen</mat-hint>
   <mat-hint align="end">{{txtarea.value.length}} / 1300</mat-hint>
    <mat-icon matTooltip="Beschreibe kurz worum es geht." matSuffix>help</mat-icon>
  </mat-form-field>
  <br/>
  <br/>


    <mat-form-field class="full-width">
      <input type="text"
             placeholder="Veranstalter:in *"
             aria-label="Number"
             matInput
             formControlName="organizer"
             [matAutocomplete]="autoOrganizer">
      <mat-autocomplete #autoOrganizer="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let organizer of filteredOrganizers | async" [value]="organizer">
          {{ organizer.name }}
        </mat-option>
      </mat-autocomplete>
      <mat-icon matTooltip="Wer hostet die Veranstaltung?" matSuffix>help</mat-icon>
    </mat-form-field>

    <br/>

    <!-- hier Künstler:innen -->

      <!--mat-form-field class="full-width">
        <mat-chip-list #chipListArtists aria-label="Artist selection">
          <mat-chip
            *ngFor="let artist of artists"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="removeArtists(artist)">
            {{artist.name}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <!-- removed vor prod (keyup)="_filter()"  -->
          <!--input
            [(ngModel)]="artistValue"
            placeholder="Künstler:in hinzufügen..."
            #artistInput
            [formControl]="artistsCtrl"
            [matAutocomplete]="autoArtist"
            [matChipInputFor]="chipListArtists"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="addArtists($event)">
        </mat-chip-list>
        <mat-autocomplete #autoArtist="matAutocomplete" (optionSelected)="selectedArtists($event)">
          <mat-option *ngFor="let artist of filteredArtists | async" [value]="artist.name">
            {{artist.name}}
          </mat-option>
        </mat-autocomplete>
        <mat-icon matTooltip="Namen der Künstler:innen" matSuffix>help</mat-icon>
      </mat-form-field-->

    <mat-form-field class="full-width">
      <mat-chip-list #chipListTags aria-label="Tag selection">
        <mat-chip
          *ngFor="let tag of tags"
          [selectable]="selectable"
          [removable]="removable"
          (removed)="removeTags(tag)">
          {{tag.name}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <!-- removed vor prod (keyup)="_filter()"  -->
        <input
          [(ngModel)]="tagValue"
          placeholder="Tag hinzufügen..."
          #tagInput
          formControlName="tags"
          [matAutocomplete]="auto"
          [matChipInputFor]="chipListTags"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="addTags($event)">
      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedTags($event)">
        <mat-option *ngFor="let tag of filteredTags$ | async" [value]="tag.name">
          {{tag.name}}
        </mat-option>
      </mat-autocomplete>
      <mat-icon matTooltip="Hier kannst du dein Event mit Hilfe von bis zu 6 Tags frei beschreiben" matSuffix>help</mat-icon>
    </mat-form-field>

    <br/>
    <button mat-button class="add-button" *ngIf="!addDonation" (click)="addDonation = !addDonation">+ Spenden-Link</button>
    <mat-form-field class="full-width" *ngIf="addDonation">
        <mat-label>Spenden-Link (http://)</mat-label>
        <input formControlName="donationLink" matInput>
        <mat-icon matTooltip="Trage hier den Link zu deiner Spendenaktion ein, falls vorhanden" matSuffix>help</mat-icon>
    </mat-form-field>


    <br/>
    <button mat-button class="add-button" *ngIf="!addImage" (click)="addImage = !addImage">+ Bildlink</button>
    <mat-form-field *ngIf="addImage" class="full-width">
        <mat-label>Bildlink</mat-label>
        <input formControlName="imageLink" matInput>
        <mat-icon matTooltip="Falls du ein Bild hast kannst du es hier hochladen oder ein Link hinterlegen." matSuffix>help</mat-icon>
    </mat-form-field>
    <br/>
    <button mat-button class="add-button" *ngIf="!addAdditionalInformation" (click)="addAdditionalInformation = !addAdditionalInformation">+ Zusatzinformationen</button>
    <mat-form-field *ngIf="addAdditionalInformation" class="full-width">
      <mat-label>weitereInfos</mat-label>
      <input formControlName="additionalInformation" matInput>
      <mat-icon matTooltip="Wenn du möchtest kannst du hier einen Untertitel angeben" matSuffix>help</mat-icon>
    </mat-form-field>
    <br/>
    <button mat-button class="add-button" *ngIf="!addCity" (click)="addCity = !addCity">+ Stadt</button>
    <mat-form-field *ngIf="addCity" class="full-width">
      <input type="text"
             placeholder="Stadt"
             aria-label="Number"
             matInput
             formControlName="cities"
             [matAutocomplete]="autoCity">
      <mat-autocomplete #autoCity="matAutocomplete">
        <mat-option *ngFor="let city of filteredCities | async" [value]="city">
          {{city}}
        </mat-option>
      </mat-autocomplete>
      <mat-icon matTooltip="In welcher Stadt findet die Veranstaltung statt?" matSuffix>help</mat-icon>
    </mat-form-field>
    <br/>
    <button mat-button class="add-button" *ngIf="!addLocation" (click)="addLocation = !addLocation">+ Ort</button>
    <mat-form-field class="full-width" *ngIf="addLocation">
      <mat-label>Ort</mat-label>
      <input formControlName="location" matInput>
      <mat-icon matTooltip="Wo streamst du? (bwpw in einem Badezimmer)" matSuffix>help</mat-icon>
    </mat-form-field>

    <br/>

    <button type="submit">Send</button>
  </form>

</mat-card>
