/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
html, body { height: 100%; }
body { margin: 0; font-family: 'Courier New', Courier, monospaces, "Helvetica Neue", sans-serif; }

h2 {
    margin: 30px;
    font-size: 2.5em;
}

mat-toolbar {
    font-family: 'Courier New'!important;
    background-color:white !important;
    color: black !important;
}

button {
    font-family: 'Courier New'!important;
    font-weight: bolder;
}

mat-card {
    font-family: 'Courier New'!important;
}

mat-form-field {
    font-family: 'Courier New'!important;
}

