<h2 id="links">Kontakt</h2>

<div class="blabla">
    <a class="social-media-link" href="https://app.slack.com/client/T0104UWB020/C010GKUSU5B/thread/C010GKUSU5B-1584882184.290100" target="_blank">Slack</a>
        
    <a class="social-media-link" href="https://devpost.com/software/culturestreams" target="_blank">DevPost</a>
                                
    <a class="social-media-link" href="https://github.com/ezoar/culturestreams" target="_blank">GitHub</a>

    
    <a class="social-media-link" href="https://twitter.com/culturestreams" target="_blank">Twitter</a>
    
   
    <a class="social-media-link" href="https://www.facebook.com/CultureStreams/?notif_id=1584886004290972&notif_t=page_invite_accept" target="_blank">Facebook</a>
    
    <a class="social-media-link" href="https://www.youtube.com/embed/Iz_YJdcBeAQ" target="_blank">Youtube</a>

</div>



        

   
