

<h2 id="links">Kontakt</h2>

<div class="blabla">

    <a class="social-media-link" href="https://app.slack.com/client/T0104UWB020/C010GKUSU5B/thread/C010GKUSU5B-1584882184.290100" target="_blank">Slack</a>
    <a class="social-media-link" href="https://devpost.com/software/culturestreams" target="_blank">DevPost</a>
    <!--  <a class="social-media-link" href="https://app.slack.com/client/T0104UWB020/C010GKUSU5B/thread/C010GKUSU5B-1584882184.290100" target="_blank">Slack</a> -->
    <a class="social-media-link" href="https://github.com/CultureStreams" target="_blank">GitHub</a>
    <a class="social-media-link" href="https://twitter.com/culturestreams" target="_blank">Twitter</a>
    <a class="social-media-link" href="https://www.facebook.com/CultureStreams" target="_blank">Facebook</a>
    <a class="social-media-link" href="https://www.youtube.com/channel/UCwpsgw_c7MugXXiU9iVAzvA" target="_blank">Youtube</a>
    <a class="social-media-link" href="https://www.instagram.com/culture.streams/" target="_blank">Instagram</a>

</div>
