<mat-toolbar fxLayout="row" fxLayoutAlign="center center">
  <div class="tool-container">
    <a href="../../assets/pdf/Impressum.pdf" download><button mat-button>Impressum</button></a>
    <a href="../../assets/pdf/Datenschutz.pdf" download><button mat-button>Datenschutz</button></a>
  </div>
</mat-toolbar>

<mat-toolbar fxLayout="row" fxLayoutAlign="center center">
  <div class="tool-container">
    <a href="../../assets/pdf/Impressum.pdf" download><button mat-button>Impressum</button></a>
    <a href="../../assets/pdf/Datenschutz.pdf" download><button mat-button>Datenschutz</button></a>
  </div>
</mat-toolbar>
